<div tooltip=" trigger: '[data-tooltip-trigger=update-' + $index + ']',
               action: 'click',
               delay: 0,
               position: 'right',
               step: 25,
               track: false,
               strict: false,
               closeButton: true,
               parentScope: '[data-tooltip-search-scope=search-scope-' + $index + ']'">
    <div>
        <div class="data-tooltip-title" ko-scope="requestChild('name')">
            <text args="getLabel($row())"></text>
        </div>

        <div class="data-tooltip-content">
            <dl class="staging-events-summary">
            	<dt>
                    <translate args="'Schedule Id'"></translate>:
                </dt>
                <dd ko-scope="requestChild('schedule_id')">
                    <text args="getLabel($row())"></text>
                </dd>

            	<dt>
                    <translate args="'Job Code'"></translate>:
                </dt>
                <dd ko-scope="requestChild('job_code')">
                    <text args="getLabel($row())"></text>
                </dd>

                <dt>
                    <translate args="'Status'"></translate>:
                </dt>
                <dd ko-scope="requestChild('status')">
                    <text args="getLabel($row())"></text>
                </dd>

                <dt>
                    <translate args="'Start'"></translate>:
                </dt>
                <dd>
                    <time text="formatDetails(getStartDate($row()))"></time>
                </dd>

                <ifnot args="isPermanent($row())">
                    <dt>
                        <translate args="'End'"></translate>:
                    </dt>
                    <dd>
                        <time text="formatDetails(getEndDate($row()))"></time>
                    </dd>
                </ifnot>
            </dl>
            <div class="staging-events-actions" ko-scope="requestChild('actions')">
                <a
                    class="action-secondary action-edit"
                    repeat="foreach: getVisibleActions($row()._rowIndex), item: '$action'"
                    attr="href: $action().href"
                    click="getActionHandler($action())">
                    <span text="$action().label"></span>
                </a>
            </div>
        </div>
    </div>
</div>
