<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <cron_job_manager>
                <clean_running_schedule>1</clean_running_schedule>
            </cron_job_manager>
        </system>
    </default>
</config>