<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add
    		id="EthanYehuda_CronjobManager::cronjobmanager"
    		title="Cron Job Manager"
    		translate="title"
    		module="EthanYehuda_CronjobManager"
    		sortOrder="10"
    		parent="Magento_Backend::system_tools"
    		action="cronjobmanager/manage/"
    		resource="EthanYehuda_CronjobManager::cronjobmanager"/>
    </menu>
</config>
