<div class="cronjobmanager" >
    <span>Total Records: <text args="total"></text></span>
    <div class="timeline-scale">
        <div class="data-slider"
            range="
                value: ko.getObservable($data, 'scale'),
                min: minScale,
                max: maxScale,
                step: step
            ">
            <span class="data-slider-from">in</span>
            <span class="data-slider-to">out</span>
        </div>
    </div>
    <div class="wrapper">
       <div data-role="spinner" data-component="timeline_container.timeline_panel" 
           class="admin__data-grid-loading-mask">
            <div class="spinner">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
       </div>
       <div class="left-content">
            <div class="timeline-unit row hours">
                <div class="timeframe timeline-date">
                    <span data-bind="text: range.timeframe"></span>
                </div>
            </div>
            <fastForEach args="data: transformedRows">
                <div class="row">
                    <div class="job-code">
                        <text args="$data.key"></text>
                    </div>
                </div>
            </fastForEach>
        </div>
        <div class="main-content">
            <div class="timeline-container" afterRender="afterTimelineRender">
                <div class="timeline-container__panel" data-bind="style: { width: width + 'px' }">
                    <div class="timeline-container__now" data-bind="style: { left: now + 'px' }"></div>
                    <div class="row hours">
                        <div class="cjm-timeline">
                            <div data-bind="foreach: range.hours">
                                <div class="timeline-date__container">
                                    <div class="timeline-date hour" 
                                        data-bind="style: { 
                                            width: 'calc(' + $parent.width + 'px' + '/' + $parent.range.totalHours + ')' 
                                        }">
                                        <span data-bind="text: $data"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <fastForEach args="data: transformedRows">
                        <div class="row">
                            <div data-bind="attr: { class: 'cjm-timeline cjm-timeline_' + $data.key }">
                                <virtualForEach args="data: $data.value">
                                    <div>
                                        <div data-bind="
                                            attr: { 
                                                class: 'cron-job ' + $data.status,
                                                id: $data.schedule_id,
                                                'data-tooltip-trigger': 'update-' + $data.schedule_id,
                                            },
                                            style: {
                                                width: $parentContext.$parent.getCronWidth($data) + 'px',
                                                transform: 'translateX(' + $parentContext.$parent.getOffset($data) + ')'
                                            }"></div>
                                        <div tooltip=" trigger: '[data-tooltip-trigger=update-' + schedule_id + ']',
                                            action: 'hover',
                                            delay: 0,
                                            strict: false,
                                            closeButton: false">
                                            <div>
                                                <div class="data-tooltip-title">
                                                    <text args="job_code"></text>
                                                </div>
                                                <div class="data-tooltip-content">
                                                    <dl class="staging-events-summary">
                                                        <dt>
                                                            <translate args="'Schedule Id'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <text args="schedule_id"></text>
                                                        </dd>
                                                        <dt>
                                                            <translate args="'Process Id'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <text args="pid"></text>
                                                        </dd>
                                                        <dt>
                                                            <translate args="'Status'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <text args="status"></text>
                                                        </dd>
                                                        <dt>
                                                            <translate args="'Created at'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <time text="$parentContext.$parent.formatTime(created_at)"></time>
                                                        </dd>
                                                        <dt>
                                                            <translate args="'Scheduled at'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <time text="$parentContext.$parent.formatTime(scheduled_at) || 'N/A'"></time>
                                                        </dd>
                                                        <dt>
                                                            <translate args="'Executed at'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <time text="$parentContext.$parent.formatTime(executed_at) || 'N/A'"></time>
                                                        </dd>
                                                        <dt>
                                                            <translate args="'Finished at'"></translate>:
                                                        </dt>
                                                        <dd>
                                                            <time text="$parentContext.$parent.formatTime(finished_at) || 'N/A'"></time>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </virtualForEach>
                            </div>
                        </div>
                    </fastForEach>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline-scale">
        <div class="data-slider"
            range="
                value: ko.getObservable($data, 'scale'),
                min: minScale,
                max: maxScale,
                step: step
            ">
            <span class="data-slider-from">in</span>
            <span class="data-slider-to">out</span>
        </div>
    </div>
</div>
