<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cron\Observer\ProcessCronQueueObserver">
        <plugin name="ethanyehuda_cronjobmanager" type="EthanYehuda\CronjobManager\Plugin\Cron\Observer\ProcessCronQueueObserverPlugin" />
    </type>
    <type name="Magento\Cron\Model\Schedule">
        <plugin name="ethanyehuda_cronjobmanager" type="EthanYehuda\CronjobManager\Plugin\Cron\Model\SchedulePlugin" />
    </type>
    <type name="Magento\Cron\Model\ResourceModel\Schedule">
        <plugin name="ethanyehuda_cronjobmanager" type="EthanYehuda\CronjobManager\Plugin\Cron\Model\ScheduleResourcePlugin" />
    </type>
</config>
