<div class="cronjobmanager" >
    <div class="wrapper">
        <div class="left-content">
            <div class="timeline-unit row hours">
                <div class="timeframe timeline-date">
                    <span data-bind="text: range.timeframe"/>
                </div>
            </div>
            <div foreachProp="rows">
                <!-- ko if: $index() != 0 -->
                <div class="row">
                    <div class="job-code">
                        <text args="$data.key" />
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="main-content">
            <div class="timeline-container">
                <div class="timeline-container__panel" data-bind="style: { width: width + 'px' }">
                    <div class="row hours">
                        <div class="cjm-timeline">
                            <div data-bind="foreach: range.hours">
                                <div class="timeline-date__container">
                                    <div class="timeline-date hour">
                                        <span data-bind="text: $data" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div foreachProp="rows">
                        <!-- ko if: $index() != 0 -->
                            <div class="row">
                                <div data-bind="attr: { class: 'cjm-timeline cjm-timeline_' + $data.key }">
                                    <div data-bind="foreach: $data.value">
                                        <div data-bind="
                                        attr: { 
                                            class: 'cron-job ' + $data.status,
                                            id: $data.schedule_id,
                                            'data-tooltip-trigger': 'update-' + $data.schedule_id,
                                            'data-tooltip-search-scope': 'search-scope-' + $data.schedule_id
                                        },
                                        style: {
                                            width: $parentContext.$parent.getCronWidth(),
                                            left: $parentContext.$parent.getOffset($data)
                                        }">
                                            <div class="timeline-event-details" render="$parentContext.$parent.detailsTmpl"/> 
                                        </div>
                                    </div>
                                    <!-- pre data-bind="text: ko.toJSON($data, null, 2)" / -->
                                </div>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
